{% extends "base.html" %}

{% block title %}<title>Keepno</title>{% endblock %}

{% block style %}
{% endblock %}


{% block content %}

<!-- MAIN PAGE START -->
<div class="jumbotron d-flex align-items-center min-vh-100">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="card rounded-3 text-black">
          <div class="card-body mx-md-4 my-4">
            <div class="text-center mb-4">

              <h1>
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
                <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
              </svg>
              <span> Keepno</span>
              </h1>
              <br/>
              <p class="lead">
                <span>Email with password reset link was sent if provided by you email is assigned to an account in Keepno.</span>
              </p>
              <h5>Check your email inbox.</h5>
              <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-envelope-check" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MAIN PAGE END -->

{% endblock %}


{% block js %}
{% endblock %}
