{% extends "base.html" %}

{% from "includes/quill_editor.html" import quill_editor %}

{% block title %}<title>Keepno</title>{% endblock %}

{% block style %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<style>
  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    color: rgb(189, 189, 189);
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(189, 189, 189);
  }

  .separator:not(:empty)::before {
    margin-right: .25em;
  }

  .separator:not(:empty)::after {
    margin-left: .25em;
  }
</style>
{% endblock %}


{% block content %}

{% include "includes/header.html" %}

<!-- MAIN PAGE START -->
<main>
  <div class="px-3 pt-2" style="max-width: 800px; margin-left: auto; margin-right: auto;">
    <div class="row" style="margin-top: 60px;">
      <div class="col">
        <h1 class="display-5">{{ note.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3" 
             style="font-size: 0.8rem;">
          <span>{{ note.description }}</span>
          <div class="btn-toolbar mt-1 mb-2 mb-md-0">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="modal" 
                      data-bs-target="#addEntryModal" data-bs-whatever="@mdo">Add&nbsp;entry</button>
              <a role="button" class="btn btn-outline-dark btn-sm" href="{{ url_for('notes.note_export', note_id=note.id) }}">Export</a>
              <button class="btn btn-outline-dark btn-sm" type="button">Share</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- entries list start -->
        <div id="entries" class="mb-3">
          <template id="entries-template">
            <div id="entryRow">
              <div class="row">
                <div class="col">
                  <div class="separator" id="created"></div>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col" style="width: 100%; padding-right: 0.3rem">
                  <div id="content"></div>
                </div>
                <div class="col-auto" style="padding-left: 0px;">
                  <div class="dropdown">
                    <a class="text-dark" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" fill="currentColor" 
                           class="bi bi-three-dots-vertical" viewBox="0 0 10 16">
                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 
                                 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                      </svg>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li>
                        <a class="dropdown-item" id="deleteEntryLink" href="" data-bs-toggle="modal" 
                           data-bs-target="#deleteEntryModal" data-entryid="#">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                               class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 
                                     .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 
                                                         1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 
                                                         1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 
                                                         1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                          Delete
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" id="updateEntryLink" href="" data-bs-toggle="modal" 
                        data-bs-target="#updateEntryModal" data-entryid="#">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                               class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 
                                     2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 
                                     3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 
                                     .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 
                                     3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 
                                     0 0 1-.468-.325z"/>
                          </svg>
                          Edit
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                               class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 
                                     0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 
                                     .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 
                                     2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                          </svg>
                          Copy
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
        <!-- entries list end -->
      </div>
    </div>
    <div class="row" id="entries-loading-spiner">
      <div class="col">
        <div class="d-flex justify-content-center mb-3">
          <div class="spinner-border" role="status"></div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- MAIN PAGE END -->


<!-- ADD NEW ENTRY MODAL START -->
<div class="modal fade bd-example-modal-xl" id="addEntryModal" tabindex="-1" 
     aria-labelledby="addEntryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEntryModalLabel">New Entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          {{ quill_editor("add-standalone-container", "add-toolbar-container", "add-editor-container") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="save-entry" class="btn btn-dark">Add Entry</button>
      </div>
    </div>
  </div>
</div>
<!-- ADD NEW ENTRY MODAL END -->

<!-- UPDATE ENTRY MODAL START -->
<div class="modal fade bd-example-modal-xl" id="updateEntryModal" tabindex="-1" 
     aria-labelledby="updateEntryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEntryModalLabel">Update Entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          {{ quill_editor("update-standalone-container", "update-toolbar-container", "update-editor-container") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="updateEntryButton" class="btn btn-dark">Update Entry</button>
      </div>
    </div>
  </div>
</div>
<!-- UPDATE ENTRY MODAL END -->

<!-- DELETE ENTRY MODAL START -->
<div class="modal fade" id="deleteEntryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Entry will be deleted</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you want to delete this entry?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="deleteEntryButton" class="btn btn-dark" data-entryid="#">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- DELETE ENTRY MODAL END -->

{% endblock %}


{% block js %}

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script src="{{ url_for('static', filename='js/note.bundle.js') }}"></script>

<script src="{{ url_for('static', filename='js/header.bundle.js') }}"></script>

{% endblock %}
