version: '3.9'
services:
  postgres:
    image: postgres:13-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=keepno
      - POSTGRES_PASSWORD=keepno
      - POSTGRES_DB=keepno

volumes:
  postgres_data:
